body{
    background-color: #0c1014;
    color: white;
    width: 90%;
    max-width: 960;
    margin: 16px auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.main-title{
    font-size: 62px;
    text-transform: uppercase;
    text-align: center;
    margin: 46px 0;
}

.header{
    display: flex;
    background-color: #05080a;
    padding: 16px;
    justify-content: space-between;
    align-items: center;

}

.img-menu{
    margin-left: 16px;

}

